{% extends 'base_tools.html' %}

{% block head_script %}
    <p id="script_graph1" > </p>
    <p id="script_graph2" > </p>
{% endblock%}

{% block tool_group %}
    Slot profile
{% endblock%}

{% block tool_name %}
    Slot profile in unit-load warehouses
{% endblock%}

{% block tool_desc %}
    Ask any warehouse manager and he will probably tell you that he is running out of space and is looking for more. However, by using optimal slot profiling,
    warehouse managers can maximize space utilization, making room for more product within the same available space.
    We analyzed historical inventory levels and pallet heights of a data set to determine the optimal slot heights and quantities that guarantee a desired storage service level.
{% endblock%}

{% block link %}
    <a href="http://lfcardona.com/portfolio/multiple-slot-heights-in-unit-load-warehouses-p/" class="button big">Learn More</a>
{% endblock%}

{% block video %}
      <iframe width="480" height="280"
              src="https://www.youtube.com/embed/XxEzUH-bRek?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="10" allowfullscreen>
      </iframe>
{% endblock%}

{% block inputs %}
    <section>

        <div class="model_input">
            <div id="fainter" style="opacity: 1">
                <p> Our model determines the best set of slot heights \( (x) \) and quantities \( (N) \) according to the pallet heights
                    and inventory levels provided.  The objective is to minimize the sum of the heights of all slot as a
                    surrogate of the warehouse footprint, and the model guarantees that the warehouse desired storage
                    service level. <!-- We assume that pallets of a sku are always of the same pallet height
                    and that the warehouse uses a shared storage policy, i.e.,
                    a pallet can be stowed in any slot higher than itself. -->
                </p>

                <form action="" method="post" enctype="multipart/form-data"  id='slotting-form'>
                    {%  csrf_token %}
                    <table >
                        {{ form.as_table }}
                    </table>

                    <div>
                      <div style="width: 30%; float: left;">
                         <input type="submit" value="Run Model" class="button" style="margin-left: 5px" title="This may take several minutes for more than 3 slot types">
                      </div>
                      <div id="desc-errors" style="width: 60%; float: left; border-radius: 25px; border: 2px solid #970a0a; display: none; padding: 10px;">
                          <ul id="display-errors"></ul>
                      </div>
                    </div>
                </form>
            </div>

            <div id="wait" style="display: none">
                <img src="/static/images/copper.gif" width="350" height="250" style="margin-left: auto; margin-right: auto; background-color:#fff;" />
                <p id="waiting-msn" style="width: 310px; margin-left: auto; margin-right: auto; align: center; font-size: 10pt ">  </p>
            </div>

            <div id="spinner_id_hs" style="display: none">
                <img src="/static/images/bars.gif" width="30" height="30" />
            </div>
            <div id="spinner_id_invs" style="display: none">
                <img src="/static/images/bars.gif" width="30" height="30" />
            </div>

            <p> {{ test_info }}</p>
        </div>

    </section>
{% endblock%}

{% block outputs %}
    <p id="rel-test"> </p>

     <section id="section-outputs", style="display: none;">
        <div style="width: 95%;  display: block; margin-left: auto; margin-right: auto;" >
            <h3> Results </h3>
            <p> Here are the optimal slot heights for your problem and their coverage. </p>
            <div class="model_output">
                <div class="row" style=" margin-top: 50px; margin-bottom: 30px">
                    <div class="2.5u 12u$(small)" style="margin-left: 7%">
                            <div class="table-wrapper" >
                                <table align="center" >
                                    <thead>
                                        <tr>
                                            <td colspan="2" align="center"> Slot profile </td>
                                        </tr>
                                        <tr>
                                            <th>Height \( (x) \) </th>
                                            <th>Quantity \( (N) \) </th>
                                        </tr>
                                    </thead>
                                    <tbody id="slot-profile-table">

                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div  style="margin-left: 8%; width:700px">
                        <div id="div_graph1"> </div>
                        <p> <br> Each time series represents the inventory levels of pallets
                            that can only be stored in slots of height \( x_i \)
                            or higher. The dash line is the number of pallet positions that the slot profile provides
                            for that category of slots.
                         </p>
                    </div>
                </div>


                <p>
                        The following are the expected space savings of using multiple slot types. <!-- In practice,
                        there can be disadvantages to use too many slot types from the administrative point of view. -->
                </p>

                <div style=" margin-top: 50px; margin-bottom: 30px;">
                    <div  style="width:700px; margin: 0 auto;">
                        <p id="div_graph2"> </p>
                    </div>
                </div>

            </div>
            <p> Please see <a href="http://lfcardona.com/portfolio/multiple-slot-heights-in-unit-load-warehouses-p/"> our blog post </a>
                for a more  details.
            </p>
        </div>

     </section>
    <p id="rel1"> </p>
    <p id="rel2"> </p>
    <p id="rel3"> </p>


{% endblock%}


{% block page_script %}

    <script>
         var frm = $('#slotting-form');

        (function() {
          document.getElementById("id_hs").onchange = function(){
              field_change("id_hs");
          };
        })();

        (function() {
          document.getElementById("id_invs").onchange = function(){
              field_change("id_invs");
          };
        })();


        function field_change(field_id) {
            var files = document.getElementById(field_id).files;
            var file = files[0];
            if(!file){
              return alert("No file selected.");
            }
            else{
                var spin = $('#spinner_'+ field_id);
                spin.show();
                $("#"+field_id).after(spin);
                $("#"+field_id).css('display', 'none');
                getSignedRequest(file, field_id);
            }
        }

        function getSignedRequest(file , field_id){
            $.ajax({
                    type: 'get',
                    url: 'sign-s3/',
                    data: {'filename': makeid(), 'filetype': file.type},

                    success: function (data) {
                        uploadFile(file, data.presigned, data.url, field_id);
                    },
                    error: function (data) {
                        alert("Could not get signed URL with our storage service. Please report this problem");
                    }
            });
        }

        function uploadFile(file, presigned, url, field_id){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", presigned.url);
          console.log( presigned.url);

          var postData = new FormData();
          for(key in presigned.fields){
              postData.append(key, presigned.fields[key]);
              console.log( presigned.fields[key]);
          }
          postData.append('file', file);
          console.log(postData);

          xhr.onreadystatechange = function() {
            console.log(xhr)

            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                  $("#" + field_id).css('display', 'inline');
                  $("#spinner_"+field_id).css('display', 'none');
                  document.getElementById(field_id+"url").value=url;
              }
              else{

                  alert("Could not upload file.");
              }
           }
          };
          xhr.send(postData);
        }

        function makeid() {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for (var i = 0; i < 8; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
        }

    </script>

    <script>
        var frm = $('#slotting-form');
        var rel = $('#rel-test');
        var rel1 = $('#rel1');
        var rel2 = $('#rel2');
        var rel3 = $('#rel3');
        var msn = $('#waiting-msn');
        var errors = $('#display-errors');
        var descerrors = $('#desc-errors');

        frm.submit(function () {

            if ( document.getElementById("id_hsurl").value == "") {
                alert("Upload pallet heights");
                return false;
            }
            else if  (document.getElementById("id_invsurl").value == "" ) {
                alert("Upload inventory levels");
                return false;
            }
            else{
                 //waiting message
                var x = $("#fainter").position();
                $('#wait').show();
                $('#wait').css("top", x.top);
                $('#wait').css("left", x.left);
                $('#fainter').css("opacity", 0.2);

                //reset messages
                $('#section-outputs').css('display', 'none');
                msn.html('');
                errors.empty();
                descerrors.css('display', 'none');


                //clear file fields
                $("#id_hs").val("");
                $("#id_invs").val("");

                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),

                    // Form data
                    data: new FormData($('#slotting-form')[0]),

                    // Tell jQuery not to process data or worry about content-type
                    // You *must* include these options!
                    cache: false,
                    contentType: false,
                    processData: false,

                    success: function (data) {

                        var fm =  Number(document.getElementById('id_L').value);
                        var computimes = [0, 1, 2, 5, 10];
                        var time = computimes[fm];
                        msn.html('This usually takes about ' + time + ' minutes, but varies depending on servers availability.');

                        if (data.task_id != null) {
                            get_task_info(data.task_id);
                        }
                        else{
                            $('#fainter').css("opacity", 1);
                            $('#wait').css('display', 'none');

                            descerrors.css('display', 'inline');
                            for (var error in data.errors){
                                errors.append('<li>' + data.errors[error][0].message + '</li>');
                            }
                        }

                    },
                    error: function (data) {
                        $('#fainter').css("opacity", 1);
                        $('#wait').css('display', 'none');
                    }
                });
                return false;
            }

        });

        function get_task_info(task_id) {
            $.ajax({
                type: 'get',
                url: 'get-task-info/',
                data: {'task_id': task_id},
                success: function (data) {

                    if (data.state == 'PENDING') {
                        rel.html('Please wait...');
                    }
                    else if (data.state == 'PROGRESS') {
                        rel.html('working');
                    }
                    else if (data.state == 'SUCCESS') {
                        rel.html('');
                        //hide waiting message
                        $('#fainter').css("opacity", 1);
                        $('#wait').css('display', 'none');
                        $('#section-outputs').css('display', 'inline');

                        //reset values of file urls
                        $("#id_hsurl").val("");
                        $("#id_invsurl").val("");

                        //show results
                        format_table('[' + data.result.x +']', '[' + data.result.N +']');
                        $('#div_graph1').html( data.result.div_graph1);
                        $('#script_graph1').html(data.result.script_graph1);
                        $('#div_graph2').html( data.result.div_graph2);
                        $('#script_graph2').html(data.result.script_graph2);

                        // scroll to the results
                        var scroll = $(window).scrollTop();
                        scroll = scroll + 800;
                        $('html, body').animate({
                            scrollTop: scroll
                        }, 1);

                    }

                     if (data.state == 'FAILURE') {
                        $('#fainter').css("opacity", 1);
                        $('#wait').css('display', 'none');
                        $('#section-outputs').css('display', 'inline');
                        alert("Something went wrong on our server trying to solve the problem.");
                     }
                     else if (data.state != 'SUCCESS') {
                            setTimeout(function () {
                                get_task_info(task_id)
                            }, 1000);
                     }
                },
                error: function (data) {
                    alert("Something went wrong! B");
                }
            });
        }

        function format_table(x, y) {
            $('#slot-profile-table').empty();
            var X = JSON.parse(x);
            var Y = JSON.parse(y);

            var table = document.getElementById("slot-profile-table");

            for (var j = 0; j < X.length; j++) {
                // Create an empty <tr> element and add it to the 1st position of the table:
                var row = table.insertRow(-1);

                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                // Add some text to the new cells:
                cell1.innerHTML = X[j];
                cell2.innerHTML = Y[j];
            }
        }

    </script>



{% endblock %}
