bokeh==0.13.0
certifi==2018.8.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.1
packaging==17.1
pyparsing==2.2.0
python-dateutil==2.7.3
PyYAML==3.13
six==1.11.0
tornado==5.1
django==2.0.5
django-heroku==0.3.1
gunicorn==19.9.0
