{% extends 'base.html' %}


{% block top %}
    Home
    <ul class="icons">
        <li> <a href="http://uofllogistics.org/" class="icon"> <img src="static/images/logo.png" alt="" style="max-height:20px;width:auto;border:0" > </a></li>
    </ul>
{% endblock%}

{% block intro %}
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2> Warehousing Apps </h2>
                </header>
                <p> Academia spends a lot of time producing research, but not nearly enough communicating it to the people who can benefit from it. Here we provide simple, user-friendly tools for warehouse practitioners of highlighted research as an effort to initiate a more friendly conversation with practitioners</p>
            </div>
        </section>
{% endblock%}

{% block main_content %}
    <!-- Section -->
        <section>
            <header class="major">
                <h3> Applications </h3>
            </header>
            <div class="posts">
                <article>
                    <a href="http://uofllogistics.org/?project=maximizing-space-utilization" class="image">
                        <img src="static/images/multipleheights.png" alt="" style="max-height:250px;width:auto" />
                    </a>
                    <h4>Slot profiles </h4>
                    <p> Ask any warehouse manager and he will probably tell you that he is running out of space and is looking for more. However, by using optimal slot profiling, warehouse managers can maximize space utilization, making room for more product within the same available space. </p>
                </article>
                <article>
                    <a href="https://kevingue.wordpress.com/research/aisle-design-for-warehouses/" class="image">
                        <img src="static/images/fish3d.jpg" alt="" style="max-height:250px;width:auto" />
                    </a>
                    <h4>Aisle designs</h4>
                    <p> In a traditional warehouse, storage racks are arranged to create parallel picking aisles, perhaps with one or more cross aisles perpendicular to the picking aisles. Fishbone layouts challenge these two principles with the use of diagonal aisles and the orientation of picking aisles. As result, Fishbone layouts present a 20% less travel time.</p>

                </article>
                <article>
                    <a href="https://www.warehouse-science.com/apps/heatmap/index.html" class="image"><img src="static/images/heatmap.jpg" alt="" /></a>
                    <h4>Hotspot analysis</h4>
                    <p> A heat map of pick-lines in the storage area helps you identify congested areas and if the picking and put-away operations are properly balanced. It is also a check point for the storage policy. </p>
                </article>
                <article>
                    <a href="#" class="image"><img src="static/images/unitload.jpg" alt="" /></a>
                    <h4>Traditional layouts</h4>
                    <p> Find the warehouse layout that will provide the minimum operational costs (space + material handling). Limited to unit-load warehouses. </p>
                </article>
            </div>
        </section>

    <!-- Content -->
        <section>
            <p> Copyright 2018 - Luis Cardona & Kevin Gue </p>
            <p> Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: </p>
            <p> The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. </p>
            <p> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </p>
        </section>

{% endblock %}



