{% extends 'base.html' %}


{% block top %}
    Home
    <ul class="icons">
        <li> <a href="http://uofllogistics.org/" class="icon"> <img src="static/images/logo.png" alt="" style="max-height:20px;width:auto;border:0" > </a></li>
    </ul>
{% endblock%}

{% block intro %}
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2> Warehousing tools </h2>
                </header>
                <p>  </p>
            </div>
        </section>
{% endblock%}

{% block main_content %}
    <!-- Section -->
        <section>

            <div class="posts">
                <article>
                    <a href="/slotting" class="image">
                        <img src="static/images/multipleheights.png" alt="" style="max-height:250px;width:auto" />
                    </a>
                    <h4>Slot profiles </h4>
                    <p> Ask any warehouse manager and he will probably tell you that he is running out of space and is looking for more. However, by using optimal slot profiling, warehouse managers can maximize space utilization, making room for more product within the same available space. </p>
                </article>
            </div>
        </section>

    <!-- Content -->
        <section>
            <p> Copyright 2018 - Luis Cardona & Kevin Gue </p>
            <p> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </p>
        </section>

{% endblock %}



